* {
    margin: 0;
    padding: 0;
  }
  
  img {
    border: 0;
  }
  
  ul {
    list-style: none;
  }
  
  html {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
  }
  
.NotFound {
    color: #2196F3;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
    border: 1px solid #2196F3;
    border-radius: 2px;
    margin-top: 50px;
    text-align: center;
}
  