.playlist {
    top: 84px;
  }
  
.header-div {
    width: 97%;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    font-family: Roboto-Light;
    font-size: 18px;
    color: #000000;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }
  
  .header-div label {
    margin-left: 20px;
    font-family: Roboto-Light;
    font-size: 22px;
    color: #000000;
  }
  
  .header-div input {
    margin-left: 20px;
    font-family: Roboto-Light;
    font-size: 22px;
    color: #000000;
  }
  
  .del-btn {
    margin-right: 20px;
    border: none;
    font-family: Roboto-Medium;
    font-size: 13px;
    color: #F44336;
    background-color: white;
  }
  
  .input-div {
    position: relative;
  }
  
  .counter-bg {
    margin-left: 10px;
    top: -8px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #2196F3;
    border-radius: 20px;
    display: inline-block;
    color: white;
  }
  
  .counter {
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 7px;
  }

.hidden {
  visibility: hidden;
}